{
    "root": true,
    "extends": [
        "mysticatea",
        "mysticatea/modules",
        "mysticatea/node"
    ],
    "rules": {
        "node/shebang": [2, {"convertBinPath": ["", "src"]}]
    }
}
