{
    "root": true,
    "extends": ["mysticatea/nodejs"],
    "plugins": ["node"],
    "rules": {
        "no-param-reassign": [2, {"props": false}],
        "node/no-missing-import": 2,
        "node/no-missing-require": 2,
        "node/no-unpublished-import": 2,
        "node/no-unpublished-require": 2,
        "node/shebang": 2
    },
    "settings": {
        "node": {
            "convertPath": {
                "src/**/*.js": ["^src/(.+)$", "$1"]
            }
        }
    }
}
