sudo: false
language: node_js
node_js:
  - "0.10"
  - "0.12"
  - "4"
  - "5"
  - "6"
  - "7"
before_install:
  - npm install -g npm@latest
script:
  - npm test -- --reporter dot
after_success:
  - npm run coveralls
