{
    "root": true,
    "extends": ["mysticatea", "mysticatea/node"],
    "rules": {
        "no-console": "off",
        "no-process-env": "off",
        "no-process-exit": "off",
        "node/no-unsupported-features": "off"
    }
}
